@charset "UTF-8";
body {
    font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    font-size: 1.4rem;
    background-color: #FFF;
}

body>main {
    overflow: hidden;
}

@font-face {
    font-family: AlFresco;
    src: url("../assets/plugins/fonts/AlFresco.ttf");
}